build --remote_cache=grpc://nativelink-cas.nativelink.svc.cluster.local:50051
build --remote_executor=grpc://nativelink-cas.nativelink.svc.cluster.local:50051
build --remote_download_outputs=toplevel
startup --output_base=/data/bazel_cache